
@{
    ViewData["Title"] = "Affiliations & Recognitions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section Styles{
    <style>
        #section-banner {
            background-image: url(../images/Home/aandr.jpg)
        }
    </style>
    <link rel="stylesheet" href="~/css/temp.css" / >
}

<div id="rti-content">
    <section id="inner-banner">
        @Html.Partial("_innerbanner");
    </section>
    <div class="row">
        <article id="core-content" class="container">
            <div class="col-sm-12">
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="h1 main-headings">Recognitions</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div id="content-block__main">
                        <div id="accordion" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <a class="panel-title">AICTE</a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>AICTE 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/AccreditationRecog/1.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2020-2021</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2020-21.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2019-2020</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2019-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2018-2019</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2018-19.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <a class="panel-title">UGC</a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>IQAC </td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/IQAC.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <a class="panel-title">NAAC</a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>MANDATORY DISCLOSURE FOR THE ACADEMIC YEAR 2020-2021</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/PARVATHAREDDY BABUL REDDY VISVODAYA INSTITUTE OF TECHNOLOGY AND SCIENCE Mandatory Disclosures.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>EOA FOR THE ACADEMIC YEAR 2020-2021</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/PBRVITS  EOA_Report_2020-21 DT. 15.06.2020.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <a class="panel-title">NIRF</a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>MANDATORY DISCLOSURE FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PARVATHAREDDY BABUL REDDY VISVODAYA INSTITUTE OF TECHNOLOGY AND SCIENCE Mandatory Disclosures.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>EOA FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PBRVITS  EOA_Report_2020-21 DT. 15.06.2021.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    <a class="panel-title">NBA</a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>MANDATORY DISCLOSURE FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PARVATHAREDDY BABUL REDDY VISVODAYA INSTITUTE OF TECHNOLOGY AND SCIENCE Mandatory Disclosures.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>EOA FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PBRVITS  EOA_Report_2020-21 DT. 15.06.2021.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    <a class="panel-title">JNTUA</a>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>MANDATORY DISCLOSURE FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PARVATHAREDDY BABUL REDDY VISVODAYA INSTITUTE OF TECHNOLOGY AND SCIENCE Mandatory Disclosures.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>EOA FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PBRVITS  EOA_Report_2020-21 DT. 15.06.2021.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    <a class="panel-title">ISO</a>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>MANDATORY DISCLOSURE FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PARVATHAREDDY BABUL REDDY VISVODAYA INSTITUTE OF TECHNOLOGY AND SCIENCE Mandatory Disclosures.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>EOA FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PBRVITS  EOA_Report_2020-21 DT. 15.06.2021.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>  

            </div>
        </article>
    </div>
</div>

@section Scripts{
    <script>
    </script>
}