
@{
    ViewData["Title"] = "GoverningBody and Academic Council";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <style>
        #core-content {
            box-shadow: none;
        }
    </style>
}

<div id="rti-content">
    <div class="row">
        <article id="core-content" class="container">
            <div class="col-sm-12">
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="h1 main-headings">Governence</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div>
                        <p>PBRVITS have strict HR Polocies which are benificial for the working class and the managment. You can find the latest Policies below</p>
                        <br /><a class="href-links" href="~/files/Home/HrPolicy.pdf" target="_blank">HR Policies</a><br />
                                                                                                                    <p>
                                                                                                                        The PBRVITS profoundly believes that all stake holders are responsible to play a part in the growth of this Institute. To achieve this transparency and availability of information to all stake holders is necessary.

                                                                                                                        <br />	The Policy rules and regulations are updated on the website so that the stake holders can view them at any point of time.
                                                                                                                        <br />	The Policy Rules are also available in of the Departments.
                                                                                                                        <br />	All the matters discussed in the academic meetings are circulated to the departments in form of minutes of the meetings
                                                                                                                        <br />	All the decisions taken by the statutory bodies is sent to the departments as minutes of the meetings
                                                                                                                        <br />Link for PBR VITS Policy Rules is given below
                                                                                                                    </p> <a class="href-links" href="~/files/Home/Governence.pdf" target="blank">Governence Document</a>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>
<div class="container">
</div>
@section Scripts{
    <script>

    </script>
}