
@{
    ViewData["Title"] = "GoverningBody and Academic Council";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <style>
        #core-content {
            box-shadow: none;
        }
    </style>
}

<div id="rti-content">
    <div class="row">
        <article id="core-content" class="container">
            <div class="col-sm-12">
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="h1 main-headings">Governing Body and Academic Council</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div id="content-block__main">
                        <img class="img-rounded img-responsive img-thumbnail" src="~/images/Home/organizational-chart.jpg" />
                        <h3 class="h2 main-headings">Autonomus Academic Council Members</h3>
                        <a class="href-links" href="~/files/Home/GB_members.pdf" target="_blank">Download Academic Council Members</a>
                        <img class="img-rounded img-responsive img-thumbnail" src="~/images/Home/acMembers.png" /><br />
                        <table class="table table-hover table-bordered table-striped customTable">
                            <thead>
                                <tr class="table-title"><th colspan="2" class="text-center">Governing Body Members <a class="small href-links" href="~/files/Home/GB_members.pdf" target="_blank">Download List</a></th></tr>
                                <tr class="table-header">
                                    <td class="text-center">S.No</td>
                                    <td class="text-center">Composition</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Sri Dodla Vidyadhara Kumar Reddy
                                        Chairman, PBRVITS
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Wg.Cdr.I P C Reddi
                                        Director, PBRVITS
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        Sri I. Sasmith Reddi
                                        Managing Director, Asia Pacific at Xiplink Location
                                        Hyderabad Area, India
                                    </td>

                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Dr. D Prathyusha Reddi
                                        Professor Dept. of ECE, PBRVITS, Kavali
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Dr D LIKHITH Reddy
                                        Assoc Professor, PBR VITS, Kavali
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        Smt K Reshma Reddy
                                        Secretry, PBR VITS, kavali
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>
                                        Dr Satyanarayan Kmar Jain
                                        Vidya Villa, Damonh, MP
                                        satyendra2047@gmail.com
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>
                                        Prof. M Sri Murali
                                        Dept of Civil, S V University, Tirupathi
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>
                                        Prof. M L S Deva Kumar
                                        Dept. of Mechanical, JNTUA, Ananthapur
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>
                                        Dr B Dattatraya Sharma,
                                        Principal, PBRVITS, KAVALI
                                    </td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>
                                        Dr SV Subba Rao,
                                        Director of R&dagger;D, PBRVITS, KAVALI
                                    </td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>
                                        Dr B Vamsee Mohan,
                                        Department of CSE, PBRVITS, KAVALI
                                    </td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>
                                        Dr K V Subbaiah,
                                        Department of CSE, PBRVITS, KAVALI
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>
<div class="container">
</div>
@section Scripts{
    <script>

    </script>
}
