
@{
    ViewData["Title"] = "RTI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        #section-banner {
            background-image: url(../images/Home/rti-banner.png)
        }

        #core-content {
            box-shadow: none;
        }
    </style>
}

<div id="rti-content">
    <section id="inner-banner">
        @Html.Partial("_innerbanner");
    </section>
    <div class="row">
        <article id="core-content" class="container">
            <div class="col-sm-12">
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="h1 main-headings">Right To Information</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div id="content-block__main">
                        <p class="text-content text-para">
                            The Right To Information Act 2005 was passed by the Parliament on 15th June 2005. The Act mandates
                            that organizations defined as "Public Authorities" are obliged to provide information to the public and
                            create necessary arrangements in order to promote transparency and accountability in the working of
                            every public authority. PBR VITS, KAVALI(VITK) has been declared as a "Public Authority" under the Act.
                            Implementation of the Right to Information Act 2005.
                        </p>
                        <p class="text-content text-para">
                            Right to Information Act, 2005 (22 of 2005) has been enacted by the Parliament and has come into force
                            from 15 June, 2005. This Act provides for right to information for citizens to secure access to information
                            under the control of public authorities. All Universities and Colleges established by law made by
                            Parliament or by State Legislature or by notification by the appropriate Government or owned,
                            controlled or substantially financed directly or indirectly by funds provided by the Government shall
                            come within the meaning of a Public Authority under this act.
                        </p>
                        <p class="text-content text-para">
                            Whereas, some provisions of this act have come into effect immediately on its enactment (that is on 15
                            June 2005), other provisions shall come into effect on 100 / 120 days of its enactment. In pursuance of
                            the Right to Information Act 2005, an officer has been designated as Public Information Officer (PIO) and
                            he shall perform the duties and responsibilities as envisaged under the act without fail. Necessary steps
                            for implementation of various provisions including proactive disclosure of certain kind of information.
                            Such information shall be made available to the public at large through the website. The addresses of
                            our office and organization structure are available on the website www.pbrvits.ac.in
                        </p>
                        Appellate Authority
                        Dr.B. Konda Reddy
                        Principal, PBRVITS, KAVALI
                        Phone: 99291856651
                        Email: principal.73@jntua.ac.in
                        Role of Appellate Authority: The Appellate Authority will receive the appeals, directly as required under
                        the Act.
                        Address of the Institute
                        PBR VISVODAYA INSTITUTE OF TECHNOLOGY AND SCIENCE
                        VISVODAYA CAMPUS, KAVALI, NELLORE DISTRICT
                        Andhra Pradesh – 524201.
                    </div>
                </section>
            </div>

        </article>
    </div>
</div>

@section Scripts{
    <script>
    </script>
}