@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<aside class="col-md-3 col-sm-4 box hidden-xs" id="left-side-nav-menu">
    <div class=" col-md-12 ">
        <ul id="aside-menu" class="list-unstyled pull-right">
            <li class="visible-xs">
                <a href="javascript:void(0)" id="aside-menu__hide-button" class="closebtn" ><span class="glyphicon glyphicon-remove"></span></a>
            </li>
            <li id="labs">
                <a asp-area="" asp-controller="Facilities" asp-action="Labs">laboratories</a>
                <blockquote>
                    <ul class="list-unstyled">
                        <li><a href="#computerScience" data-toggle="tab">Computer Science </a></li>
                        <li><a href="#electronicsCommunication" data-toggle="tab">Electronics &amp; Communication </a></li>
                        <li><a href="#electricalElectronics" data-toggle="tab">Electrical &amp; Electronics  </a></li>
                        <li><a href="#mechanical" data-toggle="tab">Mechanical </a></li>
                        
                    </ul>
                </blockquote>
            </li>
            <li id="hostels">
                <a asp-area="" asp-controller="Facilities" asp-action="Hostels">Hostels</a>
                <blockquote>
                    <ul class="list-unstyled">
                        <li><a href="#Girls" data-toggle="tab">Girls Hostel</a></li>
                        <li><a href="#Boys" data-toggle="tab">Boys Hostel</a></li>
                        
                    </ul>
                </blockquote>
            </li>
            <li id="sports">
                <a asp-area="" asp-controller="Facilities" asp-action="Sports">Sports</a>
                
            </li>
            <li id="gym">
                <a asp-area="" asp-controller="Facilities" asp-action="Gym">Gym</a>
                
            </li>
            <li id="firstaid">
                <a asp-area="" asp-controller="Facilities" asp-action="Firstaid">First Aid</a>
            </li>
            <li id="clubs">
                <a asp-area="" asp-controller="Facilities" asp-action="Clubs">Clubs</a>
                
            </li>
            <li id="guesthouse">
                <a asp-area="" asp-controller="Facilities" asp-action="Guesthouse">Guest Rooms</a>
                
            </li>
            <li id="transport">
                <a asp-area="" asp-controller="Facilities" asp-action="Transport">Transport</a>
            </li>
        </ul>
    </div>
</aside>


