<section class="card">
    <article>
        <h1 data-accordion-element-trigger>Amenities</h1>
        <div data-accordion-element-content class="content">
            <div class="side-title card">
                <div class="side-title-body card-body">
                    <a href="#">
                        <img class="img-thumbnail" src="~/images/SideQuickLinks/AminitiesCollage.jpg" alt="Aminities Collage" />
                    </a>
                </div>
                @*<div class="side-title-footer card-footer text-center">
                        <p class="card-text">Research Link</p>
                    </div>*@
            </div>
        </div>
    </article>
    <article>
        <h1 data-accordion-element-trigger>News</h1>
        <div data-accordion-element-content class="content">
            <div class="side-title card">
                <div class="side-title-body card-body">
                    <a asp-controller="News" asp-action="Index">
                        <img class="img-thumbnail" style="background:#b2dfda;" src="~/images/SideQuickLinks/NewsAndUpdates.png" alt="News & Updates" />
                    </a>
                </div>
                @*<div class="side-title-footer card-footer text-center">
                        <p class="card-text">Research Link</p>
                    </div>*@
            </div>
        </div>
    </article>
    <article>
        <h1 data-accordion-element-trigger>Cells</h1>
        <div data-accordion-element-content class="content">
            <div class="side-title card">
                <div class="side-title-body card-body">
                    <a asp-controller="Accreditation" asp-action="Cells">
                        <img class="img-thumbnail" src="~/images/SideQuickLinks/cells.jpg" alt="Cells" />
                    </a>
                </div>
                @*<div class="side-title-footer card-footer text-center">
                        <p class="card-text">Research Link</p>
                    </div>*@
            </div>
        </div>
    </article>
    <article>
        <h1 data-accordion-element-trigger>Gallery</h1>
        <div data-accordion-element-content class="content">
            <div class="side-title card">
                <div class="side-title-body card-body">
                    <a asp-controller="Gallery" asp-action="Index">
                        <img class="img-thumbnail" src="~/images/SideQuickLinks/Gallery.jpg" alt="Gallery" />
                    </a>
                </div>
                @*<div class="side-title-footer card-footer text-center">
                        <p class="card-text">Research Link</p>
                    </div>*@
            </div>
        </div>
    </article>
    <article>
        <h1 data-accordion-element-trigger>Events</h1>
        <div data-accordion-element-content class="content">
            <div class="side-title card">
                <div class="side-title-body card-body">
                    <a asp-controller="Events" asp-action="Index">
                        <img class="img-thumbnail" src="~/images/SideQuickLinks/Events.jpg" alt="Events" />
                    </a>
                </div>
                @*<div class="side-title-footer card-footer text-center">
                        <p class="card-text">Research Link</p>
                    </div>*@
            </div>
        </div>
    </article>
</section>