    <section id="section-banner" class="container-fluid">
        <div class="row">
            <div id="section-banner__placeholder">
                <span id="section-banner__placeholder--content"></span>
            </div>
        </div>
    </section>
    <div id="side-nav-button-mobile" class="visible-xs center-block text-center ">
        <section class="btn btn-danger" id="side-nav__show-button">
            <span id="side-nav-button-mobile--title"></span>&nbsp;<span class="glyphicon glyphicon-triangle-bottom"></span>
        </section>
    </div>