
@{
    ViewData["Title"] = "StudentResearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Research</h2>

@section Styles{
    <link rel="stylesheet" href="~/css/research.css" />
}

<div id="research-content">
    <section id="inner-banner">
        @Html.Partial("_innerBanner")
    </section>
    <div class="row">
        <aside id="left-side-nav-menu" class="col-md-3 col-sm-4 box hidden-xs">
            @Html.Partial("_ResearchSideBar")
        </aside>
        <article id="core-content" class="col-md-9 col-sm-8 box ">
            <div class="col-xs-12">
                <ul id="breadcrumb-nav-section" class="breadcrumb">
                    <li class="current"><a class="href-links" asp-controller="Research" asp-action="Index" id="research">Research</a></li>
                    <li id="currentpageBreadcrum" class="current">Student Research</li>
                </ul>
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="h1 main-headings">Research</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div class="col-md-8">
                        <div id="content-block__main">
                           <p class="text-content text-para">
                               All laboratories are fully equipped with necessary equipment so that the students can carry out their research work to improve their professional talent.  
                               Few of our Students Research Projects are given below.
                            </p>     
                            <table class="table table-hover table-bordered table-striped customTable">
                                <thead>
                                    <tr class="table-header">
                                        <th>Sl No.</th>
                                        <th>Name of the Student</th>
                                        <th>Department</th>
                                        <th>Title of the Project</th>
                                        <th>Year of  Completion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>P.V. Radha Kumari</td>
                                        <td>III B.Tech ECE</td>
                                        <td>Medicine vending machine </td>
                                        <td>2020</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>K. Manju Bhargavi </td>
                                        <td>III B.Tech ECE</td>
                                        <td>Medicine vending machine </td>
                                        <td>2020</td>  
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>T. Sravya </td>
                                        <td>III B.Tech ECE</td>
                                        <td>Medicine vending machine </td>
                                        <td>2020</td>
                                    </tr>
                                    <tr>
                                       <td>4</td>
                                        <td>V. Lakshmi Sahithi </td>
                                        <td>III B.Tech ECE</td>
                                        <td>Smart Energy meter </td>
                                        <td>2020</td>
                                    </tr>
                                     <tr>
                                        <td>5</td>
                                        <td>R. Himachandana</td>
                                        <td>III B.Tech ECE</td>
                                        <td>Smart Energy meter </td>
                                        <td>2020</td>
                                    </tr>
                                     <tr>
                                        <td>6</td>
                                        <td>T. Vimal Prasad</td>
                                        <td>III B.Tech ECE</td>
                                        <td>Smart Energy meter </td>
                                        <td>2020</td>
                                    </tr>
                                     <tr>
                                        <td>7</td>
                                        <td>Ch.Harshavardhan </td>
                                        <td>III B.Tech ECE</td>
                                        <td>messaging using digital ASK modulation of audio </td>
                                        <td>2019</td>
                                    </tr>
                                     <tr>
                                        <td>8</td>
                                        <td>P. Ameer khan </td>
                                        <td>III B.Tech ECE</td>
                                        <td>messaging using digital ASK modulation of audio </td>
                                        <td>2019</td>
                                    </tr>
                                     <tr>
                                        <td>9</td>
                                        <td>Ch. Sai Kiran</td>
                                        <td>III B.Tech ECE</td>
                                        <td>messaging using digital ASK modulation of audio </td>
                                        <td>2019</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <aside id="right-side-nav-menu">
                    <div class="col-md-4">
                        <div id="content-block__side-menu">
                            @Html.Partial("_AcadamicsQuickLinks")
                        </div>
                    </div>
                </aside>
            </div>
        </article>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/cant89/gianni-accordion-js/dist/gianniAccordion.min.js"></script>
    <script src="~/js/research.js"></script>
    @*https://www.jqueryscript.net/text/Animated-Text-Truncate-Content-Toggle-Plugin-jQuery-Collapser.html*@
    <script src="~/js/jquery.collapser.min.js"></script>
   @* <script>
        $(document).ready(function () {

            $('#currentpageBreadcrum').click(function () {
                $('[href=".tab-main"]').tab('show');
                $('#currentpageBreadcrum').html("Placements");
                $('#breadcrumb-nav-section li').last().hide();
            });
            $('#Faculty > blockquote li, .tab-content .tab-main .href-links').click(function () {
                $('#currentpageBreadcrum').html("<a class=\"href-links\" href=\".tab-main\" data-toggle=\"tab\">Placements</a>");
            });

            //Tag and the text shoudl be at same level for this to work as expected.
            $(".textTruncation").collapser({
                target: 'next',
                mode: 'words',
                truncate: 20,
                speed: 'slow',
                showText: ' Show More',
                hideText: ' Hide Text',
                ellipsis: '...',
                showClass: 'show-class',
                hideClass: 'hide-class'
            });
        });
    </script>*@
}
