<div class=" col-md-12 ">
    <ul id="aside-menu" class="list-unstyled pull-right">
        <li class="visible-xs">
            <a id="aside-menu__hide-button" href="javascript:void(0)" class="closebtn"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
        <li id="Department">
            <a asp-area="" asp-controller="Academics" asp-action="Department">Departments</a>
            <blockquote>
                <ul class="list-unstyled">
                    <li><a href=".tab-main" data-toggle="tab">Departments</a></li>
                    <li><a href=".tab-computerScience" data-toggle="tab">Computer Science </a></li>
                    <li><a href=".tab-electronicsCommunication" data-toggle="tab">Electronics &amp; Communication </a></li>
                    <li><a href=".tab-electricalElectronics" data-toggle="tab">Electrical &amp; Electronics  </a></li>
                    <li><a href=".tab-mechanical" data-toggle="tab">Mechanical </a></li>
                    <li><a href=".tab-civil" data-toggle="tab">Civil </a></li>
                    <li><a href=".tab-mba" data-toggle="tab">MBA </a></li>
                </ul>
            </blockquote>
        </li>
        <li id="Faculty">
            <a asp-area="" asp-controller="Academics" asp-action="Faculty">Faculty</a>
            <blockquote>
                <ul class="list-unstyled">
                    <li><a href=".tab-Faculty_computerscience" data-toggle="tab">Computer Science </a></li>
                    <li><a href=".tab-Faculty_electronicsCommunication" data-toggle="tab">Electronics &amp; Communication </a></li>
                    <li><a href=".tab-Faculty_electricalElectronics" data-toggle="tab">Electrical &amp; Electronics  </a></li>
                    <li><a href=".tab-Faculty_mechanical" data-toggle="tab">Mechanical </a></li>
                    <li><a href=".tab-Faculty_civil" data-toggle="tab">Civil </a></li>
                    <li><a href=".tab-Faculty_mba" data-toggle="tab">MBA </a></li>
                    <li><a href=".tab-Faculty_hs" data-toggle="tab">Humanities </a></li>
                </ul>
            </blockquote>
        </li>
        <li id="AcademicRegulations">
            <a asp-area="" asp-controller="Academics" asp-action="AcademicRegulations">Academic Regulations</a>
        </li>
        <li id="AcademicCalendar">
            <a asp-area="" asp-controller="Academics" asp-action="AcademicCalendar">Academic Calender</a>
        </li>
        <li id="Examination">
            <a asp-area="" asp-controller="Academics" asp-action="Examination">Examination</a>
        </li>
    </ul>
</div>