@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "AcademicRegulations";
}


@section Styles{
    <link rel="stylesheet" href="~/css/Academics.css" />
}

<div id="academics-content">
    <section id="inner-banner">
        @Html.Partial("_innerBanner")
    </section>
    <div class="row">
        <aside id="left-side-nav-menu" class="col-md-3 col-sm-4 box hidden-xs">
            @Html.Partial("_AcadamicsSideBar")
        </aside>
        <article id="core-content" class="col-md-9 col-sm-8 box ">
            <div class="col-xs-12">
                <ul class="breadcrumb" id="breadcrumb-nav-section">
                    <li class="current"><a class="href-links" asp-controller="Academics" asp-action="Index" id="academics">Academics</a></li>
                    <li id="currentpageBreadcrum" class="current">Academic Regulations</li>
                </ul>
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="main-headings">Academic Regulations</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div class="col-md-8">
                        <div id="content-block__Main">
                            <table class="table table-hover table-bordered table-striped customTable">
                                <thead>
                                    <tr class="table-header">
                                        <th class="text-center">Title</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Code Of Conduct</td>
                                        <td class="text-center">2021</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/CODE_OF_CONDUCT.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>B Tech Academic Regulations R21</td>
                                        <td class="text-center">31-10-2021</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/B.Tech. Academic Regulations R21.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>B Tech Academic Syllabus R21</td>
                                        <td class="text-center">31-10-2021</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/B.Tech. Academic Syllabus R21.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>B Tech Academic Regulations R20</td>
                                        <td class="text-center">31-10-2019</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/B.Tech. Academic Regulations R20.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>B Tech Academic Syllabus R20</td>
                                        <td class="text-center">31-10-2019</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/B.Tech. Academic Syllabus R20.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>B Tech Academic Regulations R19</td>
                                        <td class="text-center">31-10-2019</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/B.Tech. Academic Regulations R19.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>B Tech Academic Syllubus R19</td>
                                        <td class="text-center">31-10-2019</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/B.Tech. Academic Syllabus R19.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>M Tech Academic Syllubus R17</td>
                                        <td class="text-center">08-08-2017</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/M.Tech. Academic Syllabus R17.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>MBA Academic Syllubus R17</td>
                                        <td class="text-center">08-08-2017</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/MBA Academic Syllabus R17.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>B Tech Academic Regulations R15</td>
                                        <td class="text-center">20-08-2016</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/B.Tech. Academic Regulations R15.pdf" target="_blank">Download File</a></td>
                                    </tr>
                                    <tr>
                                        <td>B Tech Academic Syllubus R15</td>
                                        <td class="text-center">20-08-2016</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/B.Tech. Academic Syllabus R15.pdf" target="_blank">Download File</a></td>
                                    </tr>

                                    <tr>
                                        <td>List of Approved MOOC Providers</td>
                                        <td class="text-center">17-08-2018</td>
                                        <td class="text-center"><a class="href-links" href="~/files/AcademicRegulationFiles/List of Approved MOOC providers.pdf" target="_blank">Download File</a></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <aside id="right-side-nav-menu">
                    <div class="col-md-4">
                        <div id="content-block__side-menu">
                            @Html.Partial("_AcadamicsQuickLinks")
                        </div>
                    </div>
                </aside>
            </div>
        </article>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/cant89/gianni-accordion-js/dist/gianniAccordion.min.js"></script>
    <script src="~/js/academics.js"></script>
    <script>

    </script>
}
