@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <div class=" col-md-12 ">
        <ul id="aside-menu" class="list-unstyled pull-right">
            <li class="visible-xs">
                <a id="aside-menu__hide-button" href="javascript:void(0)" class="closebtn"><span class="glyphicon glyphicon-remove"></span></a>
            </li>
            <li id="Infrastructure">
                <a asp-area="" asp-controller="CampusLife" asp-action="Infrastructure">Infrastructure</a>
            </li>
            
            <li id="sports">
                <a asp-area="" asp-controller="CampusLife" asp-action="Sports">Sports</a>
            </li>
            <li id="hostels">
                <a asp-area="" asp-controller="CampusLife" asp-action="Hostels">Hostels</a>
  @*              <blockquote>
                    <ul class="list-unstyled">
                        <li><a href="#Girls" data-toggle="tab">Girls Hostel</a></li>
                        <li><a href="#Boys" data-toggle="tab">Boys Hostel</a></li>

                    </ul>
                </blockquote>*@
            </li>

            <li id="cafeteria">
                <a asp-area="" asp-controller="CampusLife" asp-action="Cafeteria">Cafeteria</a>

            </li>
            <li id="gym">
                <a asp-area="" asp-controller="CampusLife" asp-action="Gym">Gym</a>

            </li>
            <li id="firstAid">
                <a asp-area="" asp-controller="CampusLife" asp-action="Firstaid">First Aid</a>
            </li>
            <li id="clubs">
                <a asp-area="" asp-controller="CampusLife" asp-action="Clubs">Clubs</a>

            </li>
            <li id="guesthouse">
                <a asp-area="" asp-controller="CampusLife" asp-action="GuestHouse">Guest Rooms</a>

            </li>
            <li id="transport">
                <a asp-area="" asp-controller="CampusLife" asp-action="Transport">Transport</a>
            </li>
            <li id="library">
                <a href="https://vitslibrary.wordpress.com/" target="_blank">Library</a>
            </li>

        </ul>
    </div>


