
@{
    ViewData["Title"] = "Hostels";
}


@{
    ViewData["Title"] = "Hostels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles{
    <link rel="stylesheet" href="~/css/campuslife.css" />
}

<div id="campuslife-content">
    <section id="inner-banner">
        @Html.Partial("_innerBanner")
    </section>
    <div class="row">
        <aside id="left-side-nav-menu" class="col-md-3 col-sm-4 box hidden-xs">
            @Html.Partial("_CampusLifeSideBar")
        </aside>
        <article id="core-content" class="col-md-9 col-sm-8 box ">
            <div class="col-xs-12">
                <ul id="breadcrumb-nav-section" class="breadcrumb">
                    <li class="current"><a class="href-links" asp-controller="CampusLife" asp-action="Index" id="campuslife">CampusLife</a></li>
                    <li id="currentpageBreadcrum" class="current">Hostels</li>
                </ul>
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="h1 main-headings">A home away from home</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div class="col-md-8">
                        <div id="content-block__main">
                            <p class="text-content text-para">
                               PBR Visvodaya Institute of Technology & Science has on-campus hostel accommodation for boys and girls. Both boys’ as well as girls’ hostels accommodate about 800+ students each.
                               </p> 
                            <p class="text-content text-para">
                               The hostels provide spacious and well-ventilated rooms, well-maintained washrooms and hygienically maintained kitchen and dining halls. All the required amenities such as Wi-Fi facility, RO water system, Stores, First Aid etc. are available to the students round the clock within the premises. Generators are also provided for power back-up.
                               </p> 
                            <div id="image-rendering">
                                <img class="img-responsive" src="~/images/CampusLife/hostel.JPG" />
                            </div>                            
                            <p class="text-content text-para">
                                Each hostel is allotted a resident warden and each block is supervised by assistant wardens to ensure cleanliness and address the needs of the students. The resident wardens cater to the personal and academic problems of the students. Strict security system is in place through biometric devices, cc cameras, fire-warning systems and round-the clock guard duty. Much care is taken to provide the students with hygienic, delicious and nutritious meals. 
                                </p>
                            <p class="text-content text-para">
                               The overall atmosphere is very conductive to the students to relax and concentrate on their studies.
                                </p>
                            </div>
                                    <div id="image-rendering">
                                    <img class="img-responsive" src="~/images/CampusLife/hostel1.jpeg" />
                        </div>
                    </div>
                </section>
                <aside id="right-side-nav-menu">
                    <div class="col-md-4">
                        <div id="content-block__side-menu">
                            @Html.Partial("_AcadamicsQuickLinks")
                        </div>
                    </div>
                </aside>
            </div>
        </article>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/cant89/gianni-accordion-js/dist/gianniAccordion.min.js"></script>
    <script src="~/js/campusLife.js"></script>
    @*https://www.jqueryscript.net/text/Animated-Text-Truncate-Content-Toggle-Plugin-jQuery-Collapser.html*@
    <script src="~/js/jquery.collapser.min.js"></script>
  
}

