<div class=" col-md-12 ">
    <ul id="aside-menu" class="list-unstyled pull-right">
        <li class="visible-xs">
            <a id="aside-menu__hide-button" href="javascript:void(0)" class="closebtn"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
        <li id="placementStats">
            <a asp-area="" asp-controller="Placements" asp-action="PlacementStats">Placement Statistics</a>
        </li>
        <li id="recruiters">
            <a asp-area="" asp-controller="Placements" asp-action="Recruiters">Recruiters</a>
        </li>
        <li id="contactUs">
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
        </li>
    </ul>
</div>