<div class=" col-md-12 ">
    <ul id="aside-menu" class="list-unstyled pull-right">
        <li class="visible-xs">
            <a href="javascript:void(0)" id="aside-menu__hide-button" class="closebtn"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
        <li id="nba">
            <a asp-area="" asp-controller="Accreditation" asp-action="NBA">NBA</a>
        </li>
        <li id="ncca">
            <a asp-area="" asp-controller="Accreditation" asp-action="NAAC">NAAC</a>
        </li>
        <li id="cells">
            <a asp-area="" asp-controller="Accreditation" asp-action="Cells">Cells</a>
        </li>
        <li id="nirf">
            <a asp-area="" asp-controller="Accreditation" asp-action="NIRF">NIRF</a>
        </li>
    </ul>
</div>
