
@{
    ViewData["Title"] = "NAAC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/accreditation.css" />
}

<div id="accreditation-content">
    <section id="inner-banner">
        @Html.Partial("_innerBanner")
    </section>
    <div class="row">
        <aside id="left-side-nav-menu" class="col-md-3 col-sm-4 box hidden-xs">
            @Html.Partial("_AccreditationSideBar")
        </aside>
        <article id="core-content" class="col-md-9 col-sm-8 box ">
            <div class="col-xs-12">
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="main-headings">NAAC</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div id="content-block__main">
                        <div id="accordion" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <a class="panel-title">AQAR</a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>AQAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2021-22.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2020-2021</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2020-21.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2019-2020</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2019-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2018-2019</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2018-19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2017-2018</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2017-18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2016-2017</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2016-17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AQAR 2015-2016</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/APCOGN21628_PBRVITS_KAVALI_NELLORE_AQAR_2015-16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <a class="panel-title">IQAC</a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>IQAC </td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/IQAC.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <a class="panel-title">Disclosure</a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>MANDATORY DISCLOSURE FOR THE ACADEMIC YEAR 2020-2021</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/PARVATHAREDDY BABUL REDDY VISVODAYA INSTITUTE OF TECHNOLOGY AND SCIENCE Mandatory Disclosures.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>EOA FOR THE ACADEMIC YEAR 2020-2021</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/PBRVITS  EOA_Report_2020-21 DT. 15.06.2020.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>1.1.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/1.1.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.1.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/1.1.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.1.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/1.1.3a.pdf " target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/1.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.2.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/1.2.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.3.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/1.3.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.4.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/1.4.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.4.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/1.4.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.2.157.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.2.157.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.3.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.3.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.3.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.3.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>2.5.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.5.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.5.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.5.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.6.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.6.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.6.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.6.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.6.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/2.6.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.2.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.3.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.3.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.3.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.3.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.19.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.2.19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.18.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.2.18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.17.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.2.17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.16.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.2.16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.15.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.2.15.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>3.4.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.4.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.4.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.4.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.5.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.5.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.5.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/3.5.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>4.1.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/4.1.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>4.1.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/4.1.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>4.3.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/4.3.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.1.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.1.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.1.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.1.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.1.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.1.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.1.4a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.1.4a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>5.3.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.3.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.3.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.3.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.4.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.4.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.4.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/5.4.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.1.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.1.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.2.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.2.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>6.3.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.3.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.3.4a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.3.4a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.3.5a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.3.5a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>6.5.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.5.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.5.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.5.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.5.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/6.5.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.1.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.1.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.1.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.5a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.1.5a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.6a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.1.6a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>7.1.8a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.1.8a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.9a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.1.9a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>

                                                    <td>7.1.11a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.1.11a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.3.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/7.3.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>geotagged</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/geotagged.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-16-17.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/AUDIT-16-17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-17-18.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/AUDIT-17-18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-18-19.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/AUDIT-18-19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-19-20.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/AUDIT-19-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-20-21.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/AUDIT-20-21.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-21-22.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/AUDIT-21-22.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-19-20.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/AUDIT-19-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-15-16.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/AUDIT-15-16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-15-16.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/CCAY-15-16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-16-17.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/CCAY-16-17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-17-18.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/CCAY-17-18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-18-19.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/CCAY-18-19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-19-20.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/CCAY-19-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-20-21.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/CCAY-20-21.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-21-22.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/CCAY-21-22.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-15-16.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/RAAY-15-16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-16-17.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/RAAY-16-17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-17-18.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/RAAY-17-18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-18-19.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/RAAY-18-19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-19-20.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/RAAY-19-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-20-21.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/RAAY-20-21.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-21-22.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC/RAAY-21-22.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    <a class="panel-title">Disclosure2122</a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table table-hover table-bordered table-striped customTable">
                                            <thead>
                                                <tr class="table-header">
                                                    <th class="text-center">Title</th>
                                                    <th class="text-center">Download</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>MANDATORY DISCLOSURE FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PARVATHAREDDY BABUL REDDY VISVODAYA INSTITUTE OF TECHNOLOGY AND SCIENCE Mandatory Disclosures.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>EOA FOR THE ACADEMIC YEAR 2021-2022</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/PBRVITS  EOA_Report_2020-21 DT. 15.06.2021.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>1.1.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/1.1.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.1.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/1.1.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.1.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/1.1.3a.pdf " target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/1.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.2.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/1.2.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.3.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/1.3.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.4.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/1.4.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>1.4.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/1.4.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.2.157.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.2.157.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.3.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.3.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.3.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.3.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>2.5.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.5.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.5.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.5.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.6.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.6.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.6.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.6.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2.6.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/2.6.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.2.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.3.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.3.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.3.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.3.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.19.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.2.19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.18.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.2.18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.17.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.2.17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.16.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.2.16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.2.15.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.2.15.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>3.4.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.4.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.4.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.4.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.5.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.5.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3.5.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/3.5.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>4.1.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/4.1.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>4.1.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/4.1.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>4.3.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/4.3.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.1.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.1.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.1.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.1.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.1.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.1.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.1.4a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.1.4a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>5.3.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.3.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.3.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.3.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.4.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.4.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>5.4.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/5.4.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.1.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.1.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.2.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.2.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>6.3.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.3.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.3.4a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.3.4a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.3.5a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.3.5a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>6.5.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.5.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.5.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.5.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>6.5.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/6.5.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.1.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.2a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.1.2a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.3a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.1.3a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.5a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.1.5a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.6a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.1.6a.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                                <tr>
                                                    <td>7.1.8a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.1.8a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.1.9a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.1.9a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>

                                                    <td>7.1.11a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.1.11a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.2.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.2.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>7.3.1a.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/7.3.1a.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>geotagged</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/geotagged.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-16-17.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/AUDIT-16-17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-17-18.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/AUDIT-17-18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-18-19.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/AUDIT-18-19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-19-20.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/AUDIT-19-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-20-21.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/AUDIT-20-21.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-21-22.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/AUDIT-21-22.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-19-20.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/AUDIT-19-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>AUDIT-15-16.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/AUDIT-15-16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-15-16.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/CCAY-15-16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-16-17.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/CCAY-16-17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-17-18.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/CCAY-17-18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-18-19.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/CCAY-18-19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-19-20.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/CCAY-19-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-20-21.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/CCAY-20-21.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>CCAY-21-22.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/CCAY-21-22.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-15-16.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/RAAY-15-16.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-16-17.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/RAAY-16-17.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-17-18.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/RAAY-17-18.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-18-19.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/RAAY-18-19.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-19-20.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/RAAY-19-20.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-20-21.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/RAAY-20-21.pdf" target="_blank">Download File</a></td>
                                                </tr>
                                                <tr>
                                                    <td>RAAY-21-22.pdf</td>
                                                    <td class="text-center"><a class="href-links" href="~/files/Accreditation/NAAC22/RAAY-21-22.pdf" target="_blank">Download File</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <a class="panel-title">SSR</a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse show">
                                    <div class="panel-body">
                                        @*<embed type="application/pdf" src="~/files/Accreditation/NAAC/SSR.pdf#toolbar=0" width="100%" height="400px">*@

                                        @*https://www.youtube.com/watch?v=ydCSSgwZjzs*@
                                        <div id="my_pdf">
                                            <div class="pdf-nav-bar">
                                                <button class="btn prev-page">
                                                    <i class="fas fa-arrow-circle-left"></i> Prev Page
                                                </button>
                                                <button class="btn next-page">
                                                    Next Page <i class="fas fa-arrow-circle-right"></i>
                                                </button>
                                                <span class="page-info">
                                                    Page <span class="page-num"></span> of <span class="page-count"></span>
                                                </span>
                                            </div>
                                            <canvas id="pdf-render"></canvas>
                                            <div class="pdf-nav-bar">
                                                <button class="btn prev-page">
                                                    <i class="fas fa-arrow-circle-left"></i> Prev Page
                                                </button>
                                                <button class="btn next-page">
                                                    Next Page <i class="fas fa-arrow-circle-right"></i>
                                                </button>
                                                <span class="page-info">
                                                    Page <span class="page-num"></span> of <span class="page-count"></span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>

    </div>
</div>

@section Scripts{

    @*    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.7.570/pdf.min.js"></script>*@
    @*    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.0.943/build/pdf.min.js"></script>*@
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>

    <script src="~/js/accreditation.js"></script>
    <script>
        const url = '../files/Accreditation/NAAC/SSR.pdf';

        let pdfDoc = null,
            pageNum = 1,
            pageIsRendering = false,
            pageNumIsPending = null;

        const scale = 1.5,
            canvas = document.querySelector('#pdf-render'),
            ctx = canvas.getContext('2d');

        // Render the page
        const renderPage = num => {
            pageIsRendering = true;

            // Get page
            pdfDoc.getPage(num).then(page => {
                // Set scale
                const viewport = page.getViewport({ scale });
                canvas.height = viewport.height;
                canvas.width = viewport.width;

                const renderCtx = {
                    canvasContext: ctx,
                    viewport
                };

                page.render(renderCtx).promise.then(() => {
                    pageIsRendering = false;

                    if (pageNumIsPending !== null) {
                        renderPage(pageNumIsPending);
                        pageNumIsPending = null;
                    }
                });

                // Output current page
                var items = document.querySelectorAll('.page-num');
                for (var i = 0; i < items.length; i++) {
                    items[i].textContent = num;
                }
                //document.querySelector('.page-num').textContent = num;
            });
        };

        // Check for pages rendering
        const queueRenderPage = num => {
            if (pageIsRendering) {
                pageNumIsPending = num;
            } else {
                renderPage(num);
            }
        };

        // Show Prev Page
        const showPrevPage = () => {
            if (pageNum <= 1) {
                return;
            }
            pageNum--;
            queueRenderPage(pageNum);
        };

        // Show Next Page
        const showNextPage = () => {
            if (pageNum >= pdfDoc.numPages) {
                return;
            }
            pageNum++;
            queueRenderPage(pageNum);
        };

        // Get Document
        pdfjsLib
            .getDocument(url)
            .promise.then(pdfDoc_ => {
                pdfDoc = pdfDoc_;

                var items = document.querySelectorAll('.page-count');
                for (var i = 0; i < items.length; i++) {
                    items[i].textContent = pdfDoc.numPages;
                }
                //document.querySelector('.page-count').textContent = pdfDoc.numPages;

                renderPage(pageNum);
            })
            .catch(err => {
                // Display error
                const div = document.createElement('div');
                div.className = 'error';
                div.appendChild(document.createTextNode(err.message));
                document.querySelector('body').insertBefore(div, canvas);
                // Remove top & bottom bar
                var items = document.querySelectorAll('.pdf-nav-bar');
                for (var i = 0; i < items.length; i++) {
                    items[i].style.display = 'none';
                }
                //document.querySelector('.pdf-nav-bar').style.display = 'none';
            });

        // Button Events
        var prev_items = document.querySelectorAll('.prev-page');
        var next_items = document.querySelectorAll('.next-page');
        for (var i = 0; i < next_items.length; i++) {
            prev_items[i].addEventListener('click', showPrevPage); 
            next_items[i].addEventListener('click', showNextPage); 
        }
        //document.querySelector('.prev-page').addEventListener('click', showPrevPage);
        //document.querySelector('.next-page').addEventListener('click', showNextPage);

    </script>
}

