
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class=" col-md-12 ">
    <ul id="aside-menu" class="list-unstyled pull-right">
        <li class="visible-xs">
            <a id="aside-menu__hide-button" href="javascript:void(0)" class="closebtn"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
        <li id="admissionCriteria">
            <a asp-area="" asp-controller="Admissions" asp-action="AdmissionCriteria">Admission Criteria</a>
        </li>
        <li id="admissionProcedure">
            <a asp-area="" asp-controller="Admissions" asp-action="AdmissionProcedure">Admission Procedure</a>
        </li>
        <li id="admissionsContact">
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact US</a>
        </li>
    </ul>
</div>