
@{
    ViewData["Title"] = "AdmissionCriteria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admission Criteria</h2>

@section Styles{
    <link rel="stylesheet" href="~/css/admissions.css" />
}

<div id="admissions-content">
    <section id="inner-banner">
        @Html.Partial("_innerBanner")
    </section>
    <div class="row">
        <aside id="left-side-nav-menu" class="col-md-3 col-sm-4 box hidden-xs">
            @Html.Partial("_AdmissionsSideBar")
        </aside>
        <article id="core-content" class="col-md-9 col-sm-8 box ">
            <div class="col-xs-12">
                <ul id="breadcrumb-nav-section" class="breadcrumb">
                    <li class="current"><a class="href-links" asp-controller="Admissions" asp-action="Index" id="admissions">Admissions</a></li>
                    <li id="currentpageBreadcrum" class="current">Admission Criteria</li>
                </ul>
                <div id="content-title">
                    <div class="page-header">
                        <h1 class="h1 main-headings">Admissions</h1>
                    </div>
                </div>
                <section id="content-block">
                    <div class="col-md-8">
                        <div id="content-block__main">
                            <h4 class="h4 inner-headings">Under Graduate: B.Tech( Four Year Courses)</h4>
                            <p class="text-content text-para">
                                The minimum qualification for admission into first year of the B. Tech course is a pass in the Intermediate (10+2) conducted by the Board of Intermediate Education, Govt. of Andhra Pradesh or any other examination recognized as equivalent thereto with Mathematics, Physics and Chemistry as optional subjects. Admissions to the College are made along with the other Engineering Colleges in the State through a common entrance test (EAMCET) conducted by the Govt. of Andhra Pradesh.
                            </p>
                            <p class="text-content text-para">
                                Of the sanctioned intake in a branch of engineering, 70% of the seats are called Category – A seats or Convener seats. The remaining 30% seats are called Category – B seats or Management Quota Seats.
                            </p>
                            <p class="text-content text-para">
                                Admissions for Category – A seats are conducted by the Convener, EAMCET Admissions through web counseling based on the EAMCET rank of the candidates and the 
                                <a class="href-links" href="~/files/Admissions/Rules of Reservation FOR ADMISSIONS.pdf">rules of reservation</a> 
                                for admission into professional colleges in Andhra Pradesh.
                            </p>
                            <p class="text-content text-para">
                                B- Category seats are filled by the Management of the college following the guidelines stipulated by APSCHE, Hyderabad.
                            </p>

                            <h4 class="h4 inner-headings">Post Graduate: M.Tech(Two Year Courses</h4>
                            <p class="text-content text-para">
                                The minimum qualification for admission to first year of the M.Tech course is a pass in the B.Tech. / B.E. conducted by any University or any other examination recognized as equivalent. Admissions to the College are made along with the other Engineering Colleges in the state through a common entrance test (PGECET/GATE).
                            </p>
                            <p class="text-content text-para">
                                Of the sanctioned intake in a specialization, 70% seats are called A – Category Seats or Convener Quota Seats. The remaining 30% seats are called B – Category Seats or Management Quota Seats.
                            </p>
                            <p class="text-content text-para">
                                Admissions for A – Category Seats are conducted by the Convener, PGECET Admissions through web counseling based on the rank obtained by the candidates in GATE/PGECET and the rules of reservations. The admissions are also based on 
                                <a class="href-links" href="~/files/Admissions/PGEligibility.pdf" target="_blank">course wise eligibility rules</a> 
                                rules of JNTUA, Anantapur.
                            </p>
                            <p class="text-content text-para">
                                Admission to B – Category Seats are done by the college Management following the guidelines of Government of Andhra Pradesh(APSCHE). The B – Category admissions done by the college are subject to ratification by APSCHE and JNTUA, Anantapur.
                            </p>
                            <h4 class="h4 inner-headings">MBA</h4>
                            <p class="text-content text-para">
                                The minimum qualification for admission to first year of the MCA course is a pass in Degree (B.Sc./B.Com./BBA) conducted by any University or any other examination recognized as equivalent. Admissions to the College are made along with the other Engineering Colleges in the state through a common entrance test (ICET).
                            </p>
                            <p class="text-content text-para">
                                Of the sanctioned intake in a specialization, 70% seats are called A – Category Seats or Convener Quota Seats. The remaining 30% seats are called B – Category Seats or Management Quota Seats.
                            </p>
                            <p class="text-content text-para">
                                Admissions for A – Category Seats are conducted by the Convener, ICET Admissions through web counseling based on the rank obtained IN ICET and the rules of reservations. The admissions are also based on 
                                <a class="href-links" href="~/files/Admissions/PGEligibility.pdf">course wise eligibility rules</a> 
                                of JNTUA, Anantapur.
                            </p>
                            <p class="text-content text-para">
                                Admission to <a class="href-links" href="~/files/Admissions/CATB.pdf" target="_blank">B – Category Seats</a> are done by the college Management following the guidelines of Government of Andhra Pradesh (APSCHE). The B – Category admissions done by the college are subject to ratification by APSCHE and JNTUA, Anantapur.
                                <br /> Spot admissions for <a class="href-links" href="~/files/Admissions/SPOTCATB.pdf" target="_blank">B – Category Seats</a> are done by the college managment with the mentioned guidelines 
                            </p>
                        </div>
                    </div>
                </section>
                <aside id="right-side-nav-menu">
                    <div class="col-md-4">
                        <div id="content-block__side-menu">
                            @Html.Partial("_AcadamicsQuickLinks")
                        </div>
                    </div>
                </aside>
            </div>
        </article>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/gh/cant89/gianni-accordion-js/dist/gianniAccordion.min.js"></script>
    <script src="~/js/admissions.js"></script>
    @*https://www.jqueryscript.net/text/Animated-Text-Truncate-Content-Toggle-Plugin-jQuery-Collapser.html*@
    <script src="~/js/jquery.collapser.min.js"></script>
   @* <script>
        $(document).ready(function () {

            $('#currentpageBreadcrum').click(function () {
                $('[href=".tab-main"]').tab('show');
                $('#currentpageBreadcrum').html("Placements");
                $('#breadcrumb-nav-section li').last().hide();
            });
            $('#Faculty > blockquote li, .tab-content .tab-main .href-links').click(function () {
                $('#currentpageBreadcrum').html("<a class=\"href-links\" href=\".tab-main\" data-toggle=\"tab\">Placements</a>");
            });

            //Tag and the text shoudl be at same level for this to work as expected.
            $(".textTruncation").collapser({
                target: 'next',
                mode: 'words',
                truncate: 20,
                speed: 'slow',
                showText: ' Show More',
                hideText: ' Hide Text',
                ellipsis: '...',
                showClass: 'show-class',
                hideClass: 'hide-class'
            });
        });
    </script>*@
}
