
@{
    ViewData["Title"] = "About";
}

@section Styles{
    <link rel="stylesheet" href="~/css/about.css" />
    <link rel="stylesheet" href="~/js/third_party/one-page-scroll-slider-wheel/public/slider-wheel.css" />
}

<div id="parallax-bg" class="home">
    <div class="parallax-bg__content">
        <h1 class=" h1 parallax-bg__content--text"></h1>
    </div>
</div>

<div id="caption-about-college">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="h1 text-center"> About PBR VITS</h1>
                <h3 class="caption text-center"> A place for learning, discovery, innovation, expression and development</h3>
                <div class="underline__centered underline__centered--medium"></div>
                <div class="col-md-6 col-xs-12">
                    <p class="text-content text-para hidden-md">
                        With the conviction that Education is the only weapon which can eradicate poverty, Dr Dodla Ramachandra Reddy established Visvodaya Society in 1952 in Kavali. PBR Visvodaya Institute of Technology & Science was established under the aegis of Visvodaya Society in 1998 with an initial intake of 180 students in the Undergraduate courses of Electronics and Communications Engineering, Computer Science Engineering, CSE-Artificial Intelligence, CSE-Internet of Things, Artificial Intelligence and Machine Learning, Electronics and Electrical Engineering and Mechanical Engineering. At present, the total sanctioned intake is 1482 including 1200 in UG programme, 102 in five MTech Specializations and 180 in MBA.
                    </p>
                    <p class="text-content text-para">
                        PBR Visvodaya Institute of Technology & Science is awarded permanent affiliation by JNTUA, Anantapuramu. It had been accredited by NAAC with an A grade in 2015 for 5 years. The departments of ECE, CSE, EEE and ME had been accredited by NBA at the UG level for three years in 2010. The institution has been given 2(f) and 12(B) by the UGC in the year 2013. Recognizing the potential of the institution, the software giant TCS has accredited it in 2010 and KPIT Cummins, Pune has given its accreditation in 2013.
                    </p>
                    <p class="text-content text-para hidden-md">
                        Faculty is the backbone of any educational institution. The institution has 166 teaching staff including 24 Professors, 34 Associate Professors and 110 Assistant Professors. Apart from direct academic activity, the teaching staff are involved in research activities as well as in consultancy works.
                    </p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div id="intro-video-clip-section">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5QS-Kqn1Vq0?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            @*<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wuUK-mmpiZY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Leadership Team</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div><img class=" img-fluid" src="~/images/Members/director.jpg" alt="card image"></div>
                                    <h4 class="card-title">Wg. Cdr. I.P.C. Reddy</h4>
                                    <p class="card-text">Director</p>
                                    <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Wg. Cdr. I.P.C. Reddy</h4>
                                    <p class="card-text">
                                        Wg. Cdr. I.P.C. Reddy is the driving force behind the institution's disciplined academic progress. A gold medalist in Engineering, he rendered distinguished service in the technical branch of Indian Air Force for 22 years.
                                        With his abundant knowledge and wide experience, he is actively taking the technical institution forward in its path towards excellence. He firmly believes that <strong>Discipline is a paramount prerequisite to reach any chosen goal in life</strong>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div><img class=" img-fluid" src="~/images/Members/chairman.jpg" alt="card image"></div>
                                    <h4 class="card-title">D. Vidyadhar Kumar Reddy</h4>
                                    <p class="card-text">Chairman</p>
                                    <a href="" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">D. Vidyadhar Kumar Reddy</h4>
                                    <p class="card-text">
                                        D.Vidyadhar Kumar Reddy, the chairman of the institution, has inherited the profound legacy of his father, Late. Dr.D.Ramachandra Reddy, the founder and a well-known philanthropist. Carrying his father's noble ideals in his heart, Mr. D.V.K. Reddy has emerged as a dynamic leader and an able administrator. Under his dynamic and focused stewardship, the institution is making great strides in the field of technical education. He is deeply convinced that value-added education is the pressing need of the present time and is committed to produce graduates, instilled with a sense of moral responsibility towards the society.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>

<div class="h1 text-center main-headings">Differentiators</div>
<div class="underline__centered underline__centered--medium"></div>
<div id="pillCards" class="hidden-xs">
    <div class="card-right">
        <div class="card-image">
            <img src="~/images/About/pills/book.jpg" />
        </div>
        <div class="card-text">
            <p>
                Qualified & Dedicated faculty
            </p>
        </div>
    </div>
    <div class="card-left">
        <div class="card-image">
            <img src="~/images/About/pills/cgc.jpg" />
        </div>
        <div class="card-text">
            <p>
                Access to 140000+ digital and paperback volumes
            </p>
        </div>
    </div>
    <div class="card-right">
        <div class="card-image">
            <img src="~/images/About/pills/lab.jpg" />
        </div>
        <div class="card-text">
            <p>
                E-classrooms &amp; Laboratories with updated Technology
            </p>
        </div>
    </div>
    <div class="card-left">
        <div class="card-image">
            <img src="~/images/About/pills/soap-bubble.jpg" />
        </div>
        <div class="card-text">
            <p>
                Campus Housing
            </p>
        </div>
    </div>
    <div class="card-right">
        <div class="card-image">
            <img class="img-fluid" src="~/images/About/pills/tech2.jpg" />
        </div>
        <div class="card-text">
            <p>
                JNTUA - R & D centre
            </p>
        </div>
    </div>
    <div class="card-left">
        <div class="card-image">
            <img src="~/images/About/pills/bus.jpg" />
        </div>
        <div class="card-text">
            <p>
                Transport facility within radius of 60km
            </p>
        </div>
    </div>
    <div class="card-right">
        <div class="card-image">
            <img src="~/images/About/pills/lab2.jpg" />
        </div>
        <div class="card-text">
            <p>
                Student Forums
            </p>
        </div>
    </div>
    <div class="card-left">
        <div class="card-image">
            <img src="~/images/About/pills/tech1.jpg" />
        </div>
        <div class="card-text">
            <p>
                Industry-Institute Interactive activities
            </p>
        </div>
    </div>
    <div class="card-right">
        <div class="card-image">
            <img src="~/images/About/pills/wifi.jpg" />
        </div>
        <div class="card-text">
            <p>
                Wi-Fi enabled and Lush green Campus
            </p>
        </div>
    </div>

    <div class="card-left">
        <div class="card-image">
            <img src="~/images/About/pills/job.jpg" />
        </div>
        <div class="card-text">
            <p>
                In-house training on Technical & Interpersonal skills
            </p>
        </div>
    </div>
    <div class="card-right">
        <div class="card-image">
            <img src="~/images/About/pills/sport.jpg" />
        </div>
        <div class="card-text">
            <p>
                Sports & Recreation
            </p>
        </div>
    </div>

    <div class="card-left">
        <div class="card-image">
            <img src="~/images/About/pills/carer.jpg" />
        </div>
        <div class="card-text">
            <p>
                Career Guidance Cell
            </p>
        </div>
    </div>
    @*<div class="card-bottom">
            <div class="card-image">
                <img src="~/images/About/pills/hobbie.jpg" />
            </div>
            <div class="card-text">
                <p>
                    Co-curricular & Extra-curricular activities
                </p>
            </div>
        </div>
        <div class="card-right">
            <div class="card-image">
                <img src="~/images/About/pills/lab2.jpg" />
            </div>
            <div class="card-text">
                <p>
                    Technology forums & department wise student chapter
                </p>
            </div>
        </div>
        <div class="card-bottom">
            <div class="card-image">
                <img src="~/images/About/pills/solar.jpg" />
            </div>
            <div class="card-text">
                <p>
                    Lush Green Campus with Solar Power
                </p>
            </div>
        </div>
        <div class="card-left">
            <div class="card-image">
                <img src="~/images/About/pills/sport.jpg" />
            </div>
            <div class="card-text">
                <p>
                    Indoor & outdoor Sports
                </p>
            </div>
        </div>
        <div class="card-right">
            <div class="card-image">
                <img src="~/images/About/pills/tech1.jpg" />
            </div>
            <div class="card-text">
                <p>
                    Guest lectures, Seminars & Industrial Visits
                </p>
            </div>
        </div> *@
</div>
@*
<section id="college-updates-content">
    <div class="row ">
    </div>
    <div class="row ">
        <div id="college-updates-content-leftSide" class="col-sm-8 ">
            <div id="college-updates-content__news">
                <div class="h1">LATEST NEWS <i class="far fa-newspaper"></i> <small><a class="bg-danger badge" asp-controller="About" asp-action="News">View All</a></small></div>
                <ul class="horizontalAutoScroll">
                    <li>
                        <div class="panel">
                            <div class="panel-body">
                                <img class="" src="~/images/Gallery/CampusLife/NCC.jpg" />
                            </div>
                            <div class="panel-footer">
                                Content goes here at this loaction for the above news.
                                <div class="text-center newsModal">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn custom-button--red" data-toggle="modal" data-target="#exampleModalLong1">
                                        Read More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="panel">
                            <div class="panel-body">
                                <img class="" src="~/images/Gallery/Events/main.jpg" />
                            </div>
                            <div class="panel-footer">
                                Content goes here at this loaction for the above news.
                                <div class="text-center newsModal">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn custom-button--red" data-toggle="modal" data-target="#exampleModalLong2">
                                        Read More
                                    </button>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
                <div class="model-list">
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="college-updates-content-rightSide" class="col-sm-4">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a class="h4" role="tab" href="#GRC" data-toggle="tab">EVENTS <i class="fas fa-calendar-alt"></i></a></li>
                    <li role="presentation"><a class="h4" role="tab" href="#ARC" data-toggle="tab">Notification <i class="fas fa-bell"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade  in active" id="GRC">
                        <div id="college-updates-content__event">
                            <ul class="verticalAutoScroll">
                                <li>
                                    <div class="event__full-date col-xs-4 box">
                                        <div class="event__full-date--month">Aug</div>
                                        <div class="event__full-date--date ">
                                            <strong>2</strong>
                                        </div>
                                        <div class="event__full-date--time small">
                                            <em>7:00 pm</em>
                                        </div>
                                    </div>
                                    <div class="event__content col-xs-8 box">
                                        <span class="event__content--text"><a href="https://bootsnipp.com/snippets/xrKXW"> TBD </a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="event__full-date col-xs-4 box">
                                        <div class="event__full-date--month">Aug</div>
                                        <div class="event__full-date--date ">
                                            <strong>1</strong>
                                        </div>
                                        <div class="event__full-date--time small">
                                            <em>7:00 pm</em>
                                        </div>
                                    </div>
                                    <div class="event__content col-xs-8 box">
                                        <span class="event__content--text">This is the day i built this.This is the day i built this.This is the day i built this.</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="event__full-date col-xs-4 box">
                                        <div class="event__full-date--month">Aug</div>
                                        <div class="event__full-date--date ">
                                            <strong>1</strong>
                                        </div>
                                        <div class="event__full-date--time small">
                                            <em>7:00 pm</em>
                                        </div>
                                    </div>
                                    <div class="event__content col-xs-8 box">
                                        <span class="event__content--text">This is the day i built this.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="ARC">
                        <div id="college-updates-content__notice">
                            <ul class="verticalAutoScroll">
                                <li>
                                    <a href="~/images/banner1.svg">This is a notice 1.</a> <span class="label label-danger">doc</span>
                                </li>
                                <li>
                                    <a href="~/images/banner1.svg">This is a notice 2.</a> <span class="label label-danger">doc</span>
                                </li>
                                <li>
                                    <a href="~/images/banner1.svg">This is a notice 3.</a> <span class="label label-danger">doc</span>
                                </li>
                                <li>
                                    <a href="~/images/banner1.svg">This is a notice 4.</a> <span class="label label-danger">doc</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
*@
@section Scripts{
    <script src="~/js/about.js"></script>
    @*https://www.jqueryscript.net/slider/Infinite-Scroller-Plugin-jQuery.html*@
    <script src="~/js/infiniteslidev2.js"></script>
    @*https://www.jqueryscript.net/animation/news-ticker-controls-acme.html*@
    <script>
        $(function () {

            window.setInterval(function () {
                document.getElementById("parallax-bg").getElementsByTagName("h1")[0].innerHTML = "";
                let text = "PBRVITS";
                let array = Array.from(text);

                Object.keys(array).map((key) => {
                    setTimeout(
                        () => (document.getElementById("parallax-bg").getElementsByTagName("h1")[0].innerHTML += array[key]),
                        key * 250
                    );
                });
            }, 2000);

            $(".horizontalAutoScroll").infiniteslide({
                speed: 50,
                direction: 'left',
                clone: 2,
                responsive: true
            });
            $(".verticalAutoScroll").infiniteslide({
                speed: 50,
                direction: 'up',
                clone: 2,
                responsive: true
            });
        })
    </script>

}
